@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

p {
    font-size: 1.125rem !important;
    opacity: 0.5 !important;
}

li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}
