@import "./sections/intro";

@media (max-width: 767.98px) {
    .team {
        article {
            flex-direction: column;

            .order-2 {
                order: initial !important;
            }

            div:last-child {
                margin: 0 !important;

                h3 {
                    margin: 1rem 0 !important;
                }
            }
        }
    }
}
