@import "../../../helpers/helpers";

.intro.about {
    height: 55vh !important;
    background: linear-gradient(
            to right,
            rgba($primary-clr, 0.2),
            rgba($primary-clr, 0.9)
        ),
        url("../../../../assets/images/header-img.avif") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
