@import "../../../helpers/helpers";

.testimoniel {
    background-color: $dark-blue-clr;

    .container {
        position: relative !important;
    }

    .carousel {
        max-width: 600px;
    }

    article {
        h4 {
            font-weight: 400;
            font-size: 2rem;
            line-height: 1.5;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: #333;
        opacity: 1 !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        bottom: initial !important;
        width: 10% !important;
        padding: 1rem 0 !important;
    }

    .carousel-control-prev {
        margin-left: -2rem;
    }

    .carousel-control-next {
        margin-right: -2rem;
    }

    .smile-face-img {
        position: absolute;
        right: 1rem;
        bottom: -3rem;

        img {
            width: 550px;
        }
    }

    .btn-dark {
        background-color: #333 !important;
        color: #fff !important;
        margin-top: 1rem;
    }
}

@media (max-width: 767.98px) {
    .testimoniel {
        article {
            h4 {
                font-size: 1.125rem;
            }
        }

        .carousel-control-prev {
            margin-left: 0;
        }

        .carousel-control-next {
            margin-right: 0;
        }
    }
}

@media (min-width: 767.98px) {
    .testimoniel {
        article {
            padding: 0 2rem !important;
            height: 330px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-right: 1rem;
        }

        .carousel-control-next {
            margin-right: -1rem;
        }
    }
}
